/*    FLEX CLASSES    */
  
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.h100v {
  height: 100vh;
}
.w100v {
  width: 100vw;
}
.h100p {
  height: 100%;
}
.w100 {
  width: 100%;
}

.typeimg{
  height: 15px;
  width: 15px;

  object-fit: scale-down;
}

.tierimg{
  height: 15px;
  margin-right: 5px;

  object-fit: scale-down;
}

.tankimg{
  height: 50px;
  z-index: 1;
  position: absolute;


  object-fit: scale-down;
}


.tankCard {
  background-color: rgba(11, 11, 12, 0.699);
  z-index: 2;
  position: relative;
  top: 40px;
  height: 18px;
  width: 78px;

  border-radius: 2px;
  border-style: none;
  border-width: 1px;
  border-color: rgb(41, 41, 41);
}
.rating-0 {
  color: rgb(148, 148, 148);
}
.rating-1 {
  color: rgb(212, 55, 55);
}
.rating-2 {
  color: rgb(218, 202, 59);
}
.rating-3 {
  color: rgba(66, 163, 66);
}
.rating-4 {
  color: rgba(154, 37, 158);
}

.tankName {
  flex-grow: 2;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 0.5em;
  margin-right: 5px;
}


.tech-tree-window {
  margin: 0;
  padding: 0;  
  max-width: 90%;
}


body {
  margin: 0;
  background-color: rgb(32, 32, 34);
}